{% extends "base.html" %}
{% block content %}
<div>
    {% if user %}
    <form action="{{ url_for('edit_menu_item') }}" method="post" class="mx-auto w-50" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" name="item_name" value="{{ item.title }}">
        </div>
        <div class="mb-3">
            <label for="parent" class="form-label">Родитель</label>
            <select class="form-select" name="parent">
                <option value="none" {% if not item.parent %}selected{% endif %}>----</option>
                {% for folder in folders %}
                    <option value="{{ folder.unique_id }}"{% if folder.unique_id == item.parent %}selected{% endif %}>{{ folder.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="is_folder" {% if item.is_folder %}checked{% endif %}>
            <label for="is_folder" class="form-check-label">Является папкой</label>
        </div>
        <div class="mb-3">
        {% if item.image_link %}
        <img src="/static/images/{{ item.image_link }}" style="max-width:768px">        
        {% else %}
        {% endif %}
            <label for="formFile" class="form-label">Картинка для отображения контента</label>
            <input class="form-control" type="file" accept=".jpg, .jpeg, .png" name="menu_image">
        </div>
        <div class="mb-3">
            <p>Выберите Роли, кому будет предоставлен доступ:</p>
            {% if not roles %}
                <p>Не создано ни одной Роли</p>
            {% else %}
                <fieldset>
                    <legend>Роли</legend>
                {% for role in roles %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="roles" value="{{ role.unique_id }}" {% if role.unique_id in selected_roles %}checked{% endif %}>
                        <label class="form-check-label">{{ role.title }}</label>
                    </div>
                {% endfor %}
                </fieldset>
            {% endif %}
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="guest_access" {% if item.guest_access %}checked{% endif %}>
            <label for="is_folder" class="form-check-label">Доступно для гостя</label>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Текст сообщения</label>
            <textarea class="form-control" name="content" rows="5">{{ item.content }}</textarea>
            <input type="hidden" name="unique_id" value="{{ item.unique_id }}">
          </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Редактировать</button>
        </div>
    </form>
{% endif %}
{% endblock content %}
