{% extends "base.html" %}
{% block left_menu_menus_active %}
active
{% endblock left_menu_menus_active %}
{% block title %}Конструктор меню{% endblock %}
{% block content %}
<div>
    {% if user %}
    <div>Количество записей = {{ count_rows }}</div>
    {% if count_rows != 0 %}
      <table class="table table-striped">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Название</th>
          <th scope="col">Изображение</th>
          <th scope="col">Родитель</th>
          <th scope="col">Доступно для незарегистрированного пользователя</th>
          <th scope="col">Доступно ролям</th>
          <th scope="col">Текст меню</th>
          <th scope="col">Редактирование</th>
        </tr>
        {% for item in items %}
          <tr>
            <td>
              {{ loop.index }}
            </td>
            <td>{{ item.title }}</td>
            {% if item.image_link != '' %}
              <td><img src="/static/images/{{ item.image_link }}" width="100" height="50"></td>            
            {% else %}
              <td></td>
            {% endif %}
            <td>
              {% if item.parent %}
                {{ item.parent_menu.title }}
              {% endif %}
            </td>
            <td>
            {% if item.guest_access %}
              да
            {% else %}
              нет
            {% endif %}
            </td>
            <td>
              {% for role in item.role %}
                {{ role.title }}, 
              {% endfor %}
            </td>
            <td>
                {{ item.content[:50] }} 
            </td>
            <td>
            {% if item.is_folder %}
                <a href="{{ url_for('create_subfolder_page', unique_id=item.unique_id) }}" title="Добавить" class="p-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                  </svg>
                </a>
              {% endif %}
              <a href="{{ url_for('edit_menu_item_page', unique_id=item.unique_id) }}" title="Редактировать">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg>
              </a>
              <a href="{{ url_for('delete_menu_item', unique_id=item.unique_id) }}" title="Удалить" class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    <button class="btn btn-primary">
        <a href="{{ url_for('menu_item_page') }}" class="text-white">Добавить пункт меню</a>
    </button>
{% else %}
    <h2>You are NOT logged in :(</h2>
    <p>
        Hello stranger. You are not logged. Please follow the link to
        <a href="/auth/login" class="btn">login</a>!
    </p>
{% endif %}
{% endblock content %}