{% include 'header.html' %}
<!--НАЗВАНИЕ СТРАНИЦЫ-->
<div class="d-flex align-items-center pb-3 mb-5 border-bottom">
  <span class="fs-4">Роли</span>
</div>

<!--КОНТЕНТ СТРАНИЦЫ-->
<div>
<div style="width: 30%; float: left">
  <table class="table table-bordered border-info">
    <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Роль</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for role in roles %}
    <tr>
      <td class="col-1">{{ loop.index }}</td>
      <td class="col-8">
        <a href="{{ url_for('role_view', unique_id=role.unique_id) }}">{{ role.role_title }}</a>
      </td>
      <td class="col-1">
        <form action="{{ url_for('role_delete') }}" method="post" style="display: inline;">
          <input type="hidden" name="unique_id" value="{{ role.unique_id }}">
          <button type="submit" class="btn btn-danger" aria-label="Удалить">X</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
<div style="width: 70%; padding: 100px; float: left">
    <form class="row g-3" method="post" action="roles">
  <div class="col-4">
    <label for="role_title" class="visually-hidden">Роль</label>
    <input type="text" class="form-control" name="role_title" id="role_title" placeholder="Роль">
    {% for error in errors %}
      <h6 style="color: red">{{ error }}</h6>
    {% endfor %}
  </div>
  <div class="col-4">
    <button type="submit" class="btn btn-primary mb-3">Добавить</button>
  </div>
</form>
</div>
</div>
{% include 'footer.html' %}