{% extends "base.html" %}
{% block title %}Редактирование роли "{{ role.title }}"{% endblock %}
{% block content %}
<div>
    <form class="row g-3" method="post" action="{{ url_for('role_view', unique_id=role.unique_id) }}">
  <div class="col-4">
    <label for="role_title" class="visually-hidden">Роль</label>
    <input type="text" class="form-control" name="title" id="role_title" value="{{ role.title }}">
  </div>
  <div class="col-4">
    <button type="submit" class="btn btn-primary mb-3">Редактировать</button>
  </div>
</form>
</div>
{% endblock %}