{% include 'header.html' %}
<!--НАЗВАНИЕ СТРАНИЦЫ-->
<div class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <span class="fs-4">Пользователи</span>
</div>
<!--КОНТЕНТ СТРАНИЦЫ-->
<div>
  <table class="table table-bordered border-info">
    <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Никнейм</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Роль</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Дата регистрации</th>
    </tr>
  </thead>
  <tbody>
    {% for tguser in tgusers %}
    <tr>
      <td class="col-0.5">{{ loop.index }}</td>
      <td class="col-2"><a href="users/{{ user.unique_id }}">{{ tguser.username }}</a></td>
      <td class="col-2">{{ tguser.first_name }}</td>
      <td class="col-2">{{ tguser.last_name }}</td>
      <td class="col-2">{{ tguser.role_id }}</td>
      <td class="col-2">{{ tguser.email_id }}</td>
      <td class="col-2">{{ tguser.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% include 'footer.html' %}