{% include 'header.html' %}
<!--НАЗВАНИЕ СТРАНИЦЫ-->
<div class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <span class="fs-4">Пользователи</span>
</div>
<!--КОНТЕНТ СТРАНИЦЫ-->
<div>
  <table class="table table-bordered border-info">
    <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Никнейм</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Telegram ID</th>
      <th scope="col">Роль</th>
      <th scope="col">E-Mail</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td class="col-2">{{ loop.index }}</td>
      <td class="col-2"><a href="users/{{ user.unique_id }}">{{ user.username }}</a></td>
      <td class="col-2"><a href="#">{{ user.first_name }}</a></td>
      <td class="col-2"><a href="#">{{ user.last_name }}</a></td>
      <td class="col-2"><a href="#">{{ user.telegram_id }}</a></td>
      <td class="col-2"><a href="#">{{ user.role }}</a></td>
      <td class="col-2"><a href="#">{{ user.email }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% include 'footer.html' %}