body {
    background-color: #2b3035;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    min-height: 100vh;
    margin: 0;
    flex-direction: column; /* Размещение элементов по вертикали */
}

.container {
    text-align: center; /* Центрирование текста внутри контейнера */
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0; /* Отступ сверху и снизу */
    cursor: pointer;
    border-radius: 5px;
}